.rtl{
	direction:rtl;
	text-align:right;	
}
.ltr{direction:ltr;}
.ui-collapsible-heading .ui-btn{
  text-align:right;		
}
.floatleft{float:left;}
.floatright{float:right;}
.ui-listview > li > a.ui-btn{
	text-align:right;
}
.clearfix:after{
	display:block;
	content:" ";
	clear:both;
}
#page1,#page2,#page3,#page4{
	background-size:cover;
	background-position:50% 50%;
}
#page1{
	background-image:url('images/back1.jpg');
}
#page2{
  background-image:url('images/back2.jpg');
}
#page3{
  background-image:url('images/back3.jpg');
}
#page4{
  background-image:url('images/back4.jpg');
}
.homebutton{
	display:block;
	text-decoration:none;
}

.ui-listview > li p , .ui-btn{
	white-space:normal;	
}
.embassy .ui-collapsible-content{
	text-align: right;
	white-space: normal;
}
.collapsiblecontent{
	margin-left:5px;
	margin-right:5px;
}
table{
	width:100%;
}
td{
  border:0;
	margin:0;
	padding:5px;
}
tr:nth-child(2n){
  background-color:#ddd;
}
tr:nth-child(2n+1){
	background-color:#eee;
}
div.ngologo{
	text-align:center;
}
.ui-icon-share:after {
  background-image: url("images/share.png");
  background-repeat: no-repeat;
}
.ui-controlgroup-horizontal .ui-controlgroup-controls {
	padding:0px 3px;
	
}
/*
.homecontainer .ui-collapsible-content a.homebutton:nth-child(2n+2){
  float: right;
  width:45%;
  clear:both;
  max-width:45% !important;
}

.homecontainer .ui-collapsible-content a.homebutton:nth-child(2n+1){
  float: left;
  width:45%;
  max-width:45% !important;
}
.homecontainer{
	clear:both;
}
.homecontainer .ui-collapsible-content:after{
	display:block;
	content:" ";
	clear:both;
}
*/
@media (min-width:750px), ((min-height: 750px) and  (orientation: landscape)){
	.split .ui-collapsible-content:after{
	   display:block;
	   content:" ";
	   clear:both;
	}
	.split .ui-collapsible-content a.ui-btn:nth-child(2n+1) {
    width: 40%;
    float: left;
  }
	
  .split .ui-collapsible-content a.ui-btn:nth-child(2n) {
    width: 40%;
    float: right;
    clear:both;
  }
	.split{
	 clear:both;
	}
	div.ngologo{
	 float:left;
	 margin:0 10px 10px 0;  
	}
}