.rtl{
	direction:rtl;
	text-align:right;	
}
.ltr{direction:ltr;}
.ui-collapsible-heading .ui-btn{
  text-align:right;		
}
.floatleft{float:left;}
.floatright{float:right;}
.ui-listview > li > a.ui-btn{
	text-align:right;
}
.clearfix:after{
	display:block;
	content:" ";
	clear:both;
}

.ui-grid-a .ui-block-a,
.ui-grid-a .ui-block-b{
	padding:1em;
}

.sublinks{
	margin-left:3em;
}
.homebutton{
	display:block;
	text-decoration:none;
}

.ui-listview > li p , .ui-btn{
	white-space:normal;	
}
.embassy .ui-collapsible-content{
	text-align: right;
	white-space: normal;
}
.collapsiblecontent{
	margin-left:5px;
	margin-right:5px;
}
table{
	width:100%;
}
td{
  border:0;
	margin:0;
	padding:5px;
}
tr:nth-child(2n){
  background-color:#ddd;
}
tr:nth-child(2n+1){
	background-color:#eee;
}
div.ngologo{
	text-align:center;
}
.ui-icon-share:after {
  background-image: url("images/share.png");
  background-repeat: no-repeat;
}
.ui-controlgroup-horizontal .ui-controlgroup-controls {
	padding:0px 3px;
}

@media (min-width:750px), ((min-height: 750px) and  (orientation: landscape)){
	div.ngologo{
	 float:left;
	 margin:0 10px 10px 0;  
	}
}