.rtl{
	direction:rtl;
	text-align:right;	
}
.ltr{direction:ltr;}
.ui-collapsible-heading .ui-btn{
  text-align:right;		
}
.ui-listview > li > a.ui-btn{
	text-align:right;
}

.ui-listview > li p , .ui-btn{
	white-space:normal;	
}
.embassy .ui-collapsible-content{
	text-align: right;
	white-space: normal;
}

table{
	width:100%;
}
td{
  border:0;
	margin:0;
	padding:5px;
}
tr:nth-child(2n){
  background-color:#ddd;
}
tr:nth-child(2n+1){
	background-color:#eee;
}
@media (min-width:750px), ((min-height: 750px) and  (orientation: landscape)){
	.split .ui-collapsible-content:after{
	   display:block;
	   content:" ";
	   clear:both;
	}
	.split .ui-collapsible-content a.ui-btn:nth-child(2n+1) {
    width: 40%;
    float: left;
  }
	
  .split .ui-collapsible-content a.ui-btn:nth-child(2n) {
    width: 40%;
    float: right;
    clear:both;
  }
	.split{
	 clear:both;
	}
}